Laboratory_work _1/**/.vs/
Laboratory_work _1/**/Release/
Laboratory_work _1/**/Debug/
Laboratory_work _1/**/x64/
/**/**/.vs
/**/**/.vs/
/**/**/Release/
/**/**/Debug/
/**/**/x64/
/**/**/**/.vs
/**/**/**/.vs/
/**/**/**/Release/
/**/**/**/Debug/
/**/**/**/x64/
